* {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
}

header div {
    width: 50%;
    padding: 5px;
    font-weight: bold;
}

#timer {
    text-align: right;
}

main {
    margin-top: 75px;
}

h1 {
    margin-bottom: 10px;
}

section div {
    text-align: center;
}

#container {
    width:40%;
    margin: 0px auto;
}

#quizDiv, #scoreDiv {
   margin: 20px;
   text-align: left;
}

#status {
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    color: grey;
    font-style: italic;
}

section p {
    margin: 10px auto;
}

button, #submitBtn {
    padding: 3px 5px 3px 5px;
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #ddd;
    background-color: darkslateblue;
}

.hidden {
    display: none;
}

button:hover {
    opacity: 75%;
    cursor: pointer;
    color: white;
}

.multiChoice {
    color: white;
    
}

input {
    padding: 3px;
    border: 1px solid grey;
    border-radius: 5px;
}